<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/languages/django.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/languages/properties.min.js" integrity="sha512-DBdfI9We3Dqn8KZmvEYk3c+M82j7tezEjScjEOvzsKPIXaSqlw7Ghc5wBKZ1pLuh9NLRCzYSvw77JCFafHW+8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>hljs.configure({ cssSelector: 'code', ignoreUnescapedHTML: true });; hljs.highlightAll();</script>